.Catering{
    display: flex;
    justify-content: space-between;
    &__Opciones {
        text-align: center;
        margin-left: 10%;
        margin-top: 5%;
        h2 {
            font-size: 25px;
            text-align: left;
            margin-top: 5%;
        }
        &__TresPasos {
            text-align:center;
            font-style: italic;
            color: white;
        }
        div {
            ul{
                list-style: none;
                margin-right: 10%;
                color: white;
                -webkit-text-stroke: 0.3px black;
                text-align: left;
                li{
                    margin-top: 3%;
                    list-style:disc;
                    width: fit-content;
                }
            }
            p {
                font-size: 15px;
                margin-top: 5%;
                font-weight: 700;
                color: white;
                -webkit-text-stroke: 0.3px black;
            }
        }
    }
    .Dulce {
        font-style: italic;
        color: white;
        font-size: 25px;
    }
    .carouselCatering{
        display: none;
    }
    .Imagenes{
        display: flex;
        flex-direction: column;
        margin-right: 5%;
        &__imagenCatering {
            width: 600px;
            height: 350px;
            margin-top: 10%;
            border: map-get($borders, "image-border" );
            border-radius: 10px;
        }
    }
    .footercatering {
        margin-top: 20%;
    }
}