.Catering{
    display: flex;
    justify-content: space-between;
    &__Opciones {
        text-align: center;
        margin-left: 10%;
        margin-top: 5%;
        h2 {
            border-bottom: map-get($borders, "title-borders" );
        }
        &__TresPasos {
            text-align:center;
            font-style: italic;
        }
        div {
            ul{
                list-style: none;
                margin-right: 10%;
            }
            p {
                font-weight: 700; 
            }
        }
    }
    .Dulce {
        font-style: italic;
    }
    .Imagenes{
        display: flex;
        flex-direction: column;
        margin-right: 5%;
        &__imagenCatering {
            width: 600px;
            margin-top: 10%;
            border: map-get($borders, "image-border" );
            border-radius: 10px;
        }
    }
    .carouselCatering{
        display: none;
    }
    .footercatering {
        margin-top: 5%;
    }
}