.tituloFormulario{
    color: white;
    -webkit-text-stroke: 1px black;
    text-align: center;
    font-style: italic;
    border-bottom: map-get($borders, "title-borders" );
    width: 80%;
    margin-left: 12%;
    margin-top: 3%;
}
.Formulario{
    margin-top: 5%;
    &__divFormulario {
        margin-top: 3%;
    }
}
.footerContacto{
    margin-top: 10.5%;
}