* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background-image: url(../images/imagen_fondo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.barraNav {
    border-bottom: map-get($borders, "image-border");
    background-color: rgb(180, 180, 180);
}
.container-fluid {
    &__imagenHeader {
        width: 100px;
        border: map-get($borders, "image-border");
        border-radius: 100%;
        margin-top: 5%;
        margin-left: 30%;
    }
}
.navbar-collapse{
    &__ulHeader {
        margin-left: 5%;
    }
}
.logosFooter {
    background-color: rgb(180, 180, 180);
    margin-top: 5%;
    border-top: map-get($borders, "image-border");
    font-size: 25px;
    text-align: center;
    a {
        color: black;
    }
    &__Facebook {
        border-right: map-get($borders, "image-border");
        padding-right: 0.3%;
    }
}