.containIndex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__imagenPrincipal{
        margin-top: 8%;
        margin-bottom: 10.1%;
        width: 1240px;
        height: 500px;
        border: map-get($borders, "image-border");
        border-radius: 6px;
        object-fit: cover;
        transition: $transition;
    }
    &__textoImagen {
        color:white;
        font-weight: 800;
        font-style:oblique;
        font-size: 40px;
        position: absolute;
        text-align: center;
        -webkit-text-stroke: 2px black;
        transition: $transition;
        opacity: map-get($opacity, "text-opacity-init");
        .eventosGastronomicos {
            color: black;
            -webkit-text-stroke: 1px white;
        }
    }
    &:hover &__imagenPrincipal{
        opacity: map-get($opacity, "image-opacity");
    }
    &:hover &__textoImagen{
        opacity: map-get($opacity, "text-opacity");
    }
}