.containIndex {
    position: relative;
    width: fit-content;
    &__imagenPrincipal{
        margin-top: 8%;
        margin-left: 10%;
        margin-bottom: 10.1%;
        width: 1240px;
        height: 500px;
        border: map-get($borders, "image-border");
        border-radius: 6px;
        object-fit: cover;
        transition: $transition;
        /* @include mediaQuary ("tablet") {
            width: 636px;
            height: 550px;
        } */
    }
    &__textoImagen {
        color:white;
        font-weight: 800;
        font-style:oblique;
        font-size: 40px;
        position: absolute;
        top: 45%;
        left: 37%;
        -webkit-text-stroke: 2px black;
        transition: $transition;
        opacity: map-get($opacity, "text-opacity-init");
        .eventosGastronomicos {
            color: black;
            -webkit-text-stroke: 1px white;
        }
        /* @include mediaQuary ("tablet") {
            top: 40%;
            left: 15%;
            width: 590px;
        } */
    }
    &:hover &__imagenPrincipal{
        opacity: map-get($opacity, "image-opacity");
    }
    &:hover &__textoImagen{
        opacity: map-get($opacity, "text-opacity");
    }
}