.titulo{
    color: white;
    border-bottom: map-get($borders, "title-borders");
    width: 60%;
    margin-left: 20%;
    -webkit-text-stroke: 1px black;
}
.contenedorBibliografia{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    &__div1{
        img {
            width: 400px;
            height: 500px;
            object-fit: cover;
            border: map-get($borders, "image-border");
            border-radius: 8px;
        }
    }
    &__div2{
        p {
            color: white;
            -webkit-text-stroke: 0.4px black;
    margin-left: 5%;
    max-width: 400px;
        }
    }
}