.titulo {
    text-align: center;
    padding-top: 3%;
    font-style: italic;
    font-size: 35px;
}
.imagenPlatos{
    width: 600px;
    height: 350px;
    object-fit: cover;
    border: solid 3px black;
    border-radius: 8px;
    margin-top: 10%;
    transition: opacity 1s;
}
.divPlatos {
    position: relative;
}
.divPlatos:hover .imagenPlatos{
    opacity: 30%;
}
.divPlatos:hover .textoPlatos1{
    opacity: 100%;
}
.textoPlatos1{
    position: absolute;
    top:55%;
    left: 30%;
    color: black;
    font-weight: 700;
    margin-left: 5%;
    margin-right: 5%;
    opacity: 0;
    transition: opacity 1s;
}
.p5{
    left: 20%;
}
.carrousel {
    display: none;
}
.delicioso {
    color: white;
    -webkit-text-stroke: 1px black;
}
.footerGaleria {
    margin-top: 10%;
}