.titulo{
    color: black;
    border-bottom: solid 2px black;
    width: 60%;
    margin-left: 20%;
}
.contenedorBibliografia{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}
.contenedorBibliografia__div1 img{
    width: 400px;
    height: 500px;
    object-fit: cover;
    border: solid 3px black;
    border-radius: 8px;
}
.contenedorBibliografia__div2 p{
    color: black;
    margin-left: 5%;
    max-width: 400px;
}
.boton{
    margin-top: 5%;
    border: solid 4px black;
    border-radius: 10px;
    width: fit-content;
    padding: 2%;
    background-color: grey;
    font-weight: 700;
}
.boton a{
    text-decoration: none;
    color: black;
}
.boton:hover {
    background-color: olivedrab;
}