
/* MEDIA QUARIES */
@media screen and (max-width: 1024px){
    /* INDEX */
    .imagenPrincipal{
        width: 850px;
    }
    .textoImagen {
        top: 40%;
        left: 34%;
        width: 590px;
    }
    /* MIS PLATOS */
    .imagenPlatos{
        width: 450px;
    }
    .footerGaleria{
        margin-top: 5%;
    }
    /* CATERING */
    .Imagenes{
        margin-left: 5%;
    }
    .footercatering{
        margin-top: 5%;
    }
    /* CONTACTO */
    .footerContacto{
        margin-top: 13.8%;
    }
}
@media screen and (max-width: 768px){
    /* INDEX */
    .imagenPrincipal{
        width: 636px;
        height: 550px;
    }
    .textoImagen {
        top: 40%;
        left: 15%;
        width: 590px;
    }
    /* MIS PLATOS */
    .imagenPlatos{
        width: 300px;
        margin-left: 5%;
        margin-top: 20%;
    }
    .textoPlatos1{
        font-size: 15px;
        margin-left: 7%;
    }
    .footerGaleria{
        margin-top: 10%;
    }
    .p1-4{
        left: 25%;
    }
    .p5{
        left: 15%;
    }
    .p6{
        left: 17%;
    }
    /* QUIEN SOY */
    .contenedorBibliografia__div1 img{
        width: 300px;
        height: 400px;
    }
    .contenedorBibliografia__div2 p{
        font-size: 15px;
    }
    .footerBibliografia {
        margin-top: 13.7%;
    }
    /* CATERING */
    .Imagenes{
        height: fit-content;
    }
    .imagenCatering{
        width: 400px;
    }
    .mesaDulce{
        width: 100%;
        margin-top: 5%;
        margin-left: 90%;
        color: white;
    }
    .Dulce{
        margin-top: 20%;
    }
    .alimento{
        color: white;
    }
    .footercatering{
        margin-top: 0;
    }
    /* CONTACTO */
    .tituloFormulario{
        font-size: 30px;
    }
    .footerContacto{
        margin-top: 26%;
        margin-bottom: 0;
    }

}
@media screen and (max-width: 320px){
    /* HTML GENERAL */
    .contHeader {
        display: flex;
        flex-direction: column;
    }
    .imagenHeader {
        margin:2% 10%;
        width: 70px;
        border: solid 2px black;
    }
    .contHeader__ul {
        font-size: 12px;
        margin-bottom: 2%;
    }
    /* INDEX */
    .imagenPrincipal{
        width: 250px;
        height: 570px;
        margin-left: 14%;
    }
    .textoImagen {
        text-align: center;
        font-size: 30px;
        top: 30%;
        left: 20%;
        width: 200px;
    }
    /* MIS PLATOS */
    .tituloPlatos{
        width: 70%;
        font-size: 20px;
        margin-top: 5%;
        margin-left: 14%;
    }
    .imagenPlatos{
        display: none;
        width: 250px;
        margin-left: 7%;
        margin-top: 5%;
    }
    .carrousel{
        display: block;
        margin: 5% 5% 0 5%;
    }
    .imagenCarrousel{
        width: 200px;
        height: 180px;
        object-fit: cover;
        border: solid 3px black;
        border-radius: 8px;
        transition: opacity 1s;
    }
    .textoPlatos1{
        display: none;
    }
    .divPlatos{
        position: relative;
    }
    .textoPlatos2 {
        font-size: 14px;
        color: black;
        font-weight: 700;
        transition: opacity 1s;
        opacity: 0;
        position: absolute;
        top:45%;
        left: 30%;
    }
    .p5{
        left: 20%;
    }
    .p6{
        left:20%
    }
    .divPlatos:hover .imagenCarrousel{
        opacity: 30%;
    }
    .divPlatos:hover .textoPlatos2 {
        opacity: 100%;
    }
    .footerGaleria{
        margin-top: 35%;
    }
    /* QUIEN SOY */
    .contenedorBibliografia{
        display: flex;
        flex-direction: column;
    }
    .contenedorBibliografia__div1 img{
        margin-left: 15%;
        width: 200px;
        height: 300px;
    }
    .contenedorBibliografia__div2 p{
        text-align: center;
        margin-top: 5%;
        font-size: 13px;
        margin-right: 7%;
    }
    .divBoton{
        margin-left: 18%;
        margin-top: 7%;
    }
    .boton a{
        font-size: 12px;
    }
    /* CATERING */
    .Catering{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .TresPasos{
        font-size: 20px;
        width: 90%;
    }
    .Opciones div{
        margin-right: 5%;
    }
    .Opciones div ul{
        font-size: 15px;
    }
    .Dulce{
        font-size: 20px;
        width: 90%;
    }
    .imagenCatering{
        width: 0;
        display: none;
    }
    .mesaDulce{
        margin: 0;
        color: black;
    }
    .alimento{
        color: black;
        margin-right: 7%;
    }
    .carouselCatering{
        display: block;
        margin: 5% 5% 0 5%;
    }
    .fotocatering{
        border: solid 3px black;
        border-radius: 8px;
    }
    .footercatering{
        margin-top: 15%;
    }
    /* CONTACTO */
    .tituloFormulario{
        font-size: 22px;
    }
    .footerContacto{
        margin-top: 60%;
    }
    .container{
        margin-top: 5%;
    }
}