@mixin textoPlatos1 ($top, $left) {
    position: absolute;
    top:$top;
    left: $left;
    color: black;
    font-weight: 700;
    margin-left: 5%;
    margin-right: 5%;
    opacity: map-get($opacity, "text-opacity-init");
    transition: $transition;
    
}
@mixin textoPlatos2 ($left) {
    font-size: 14px;
    color: black;
    font-weight: 700;
    transition: $transition;
    opacity: map-get($opacity, "text-opacity-init");
    position: absolute;
    top:45%;
    left: $left;
}